@using Medicoz.Helpers
@{
    ViewData["Title"] = "Index";
}

@model PaginatedList<Plan>
@{
    int counter = ((Model.ActivePage - 1) * 2);
}
@section Js{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.7.1/sweetalert2.min.css" integrity="sha512-NvuRGlPf6cHpxQqBGnPe7fPoACpyrjhlSNeXVUY7BZAj1nNhuNpRBq3osC4yr2vswUEuHq2HtCsY2vfLNCndYA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}
<div class="col-sm-12 col-xl-12">
    <div class="bg-light rounded h-100 p-8">
        <a asp-action="create" asp-controller="plan" class="btn btn-outline-primary m-2">Create</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Id</th>
                    <th scope="col">Price</th>
                    <th scope="col">Period</th>
                    <th scope="col">Category</th>
                    <th scope="col">Feature1</th>
                    <th scope="col">Feature2</th>
                    <th scope="col">Feature3</th>
                    <th scope="col">Feature4</th>
                    
                   
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Plan plan in Model)
                {
                    counter++;
                    <tr>
                        <th scope="row">@counter</th>
                        <td>@plan.Id</td>
                        <td>@plan.Price</td>
                        <td>@plan.Planperiod</td>
                        <td>@plan.PlanCategory.Name</td>
                        <td>@plan.Feature1</td>
                        <td>@plan.Feature2</td>
                        <td>@plan.Feature3</td>
                        <td>@plan.Feature4</td>
                        
                        
                        


                        <td>
                            <a asp-action="softdelete" asp-controller="plan" asp-route-id="@plan.Id" class="btn btn-outline-danger m-2 delete-button">Delete</a>
                            <a asp-action="update" asp-controller="plan" asp-route-id="@plan.Id" class="btn btn-outline-warning m-2">Update</a>
                        </td>

                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

@section Script{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.7.1/sweetalert2.min.js" integrity="sha512-vCI1Ba/Ob39YYPiWruLs4uHSA3QzxgHBcJNfFMRMJr832nT/2FBrwmMGQMwlD6Z/rAIIwZFX8vJJWDj7odXMaw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}
    <div style="margin-left:500px">
        <form>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                @if (Model.HasPrevious)
                {
                    <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="@(Model.ActivePage-1)">Previous</a></li>
                }
                @for (int i = 1; i <= Model.TotalPageCount; i++)
                {
                    <li class="page-item @((Model.ActivePage==i)? "active" : "")"><a class="page-link" asp-route-page="@i">@i</a></li>
                }

                @if (Model.HasNext)
                {
                    <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="@(Model.ActivePage+1)">Next</a></li>
                }
            </ul>
        </nav>
    </form>
</div>