@inject Medicoz.Services.SettingsService service

@{
    List<Settings> settings = await service.GetSettings();
}
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from smallcharge.ml/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 06 Feb 2023 13:40:58 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <title>Medicoz | Health and Medical HTML Template | Contact Us</title>

    <!-- Stylesheets -->
    <link href="~/assets/css/bootstrap.css" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/css/responsive.css" rel="stylesheet">

    <link rel="shortcut icon" href="~/assets/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="~/assets/images/favicon.png" type="image/x-icon">

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

    <div class="page-wrapper">

        <!-- Preloader -->
        <div class="preloader"></div>

        <!-- Main Header-->
        <header class="main-header header-style-two">

            <!-- Header top -->
            <div class="header-top-two">
                <div class="auto-container">
                    <div class="inner-container">
                        <div class="top-left">
                            <ul class="contact-list clearfix">
                                <li><i class="flaticon-hospital-1"></i>@(settings.FirstOrDefault(x => x.Key == "HeaderLocation")?.Value), <br>@(settings.FirstOrDefault(x => x.Key == "HeaderLocation2")?.Value) </li>
                                <li><i class="flaticon-back-in-time"></i>@(settings.FirstOrDefault(x => x.Key == "WorkTime")?.Value) <br>@(settings.FirstOrDefault(x => x.Key == "WorktimeWeekend")?.Value)</li>
                            </ul>
                        </div>
                        <div class="top-right">
                            <ul class="social-icon-one">
                                <li><a href="https://@(settings.FirstOrDefault(x => x.Key == "Facebook")?.Value)"><span class="fab fa-facebook-f"></span></a></li>
                                <li><a href="https://@(settings.FirstOrDefault(x => x.Key == "Twitter")?.Value)"><span class="fab fa-twitter"></span></a></li>
                                <li><a href="https://@(settings.FirstOrDefault(x => x.Key == "Skype")?.Value)"><span class="fab fa-skype"></span></a></li>
                                <li><a href="https://@(settings.FirstOrDefault(x => x.Key == "Linkedin")?.Value)"><span class="fab fa-linkedin-in"></span></a></li>
                            </ul>
                            <div class="btn-box">
                                <a asp-action="index" asp-controller="doctor"  class="theme-btn btn-style-three"><span class="btn-title">Appointment</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Header Top -->
            <!-- Header Lower -->
            <div class="header-lower">
                <div class="auto-container">
                    <!-- Main box -->
                    <div class="main-box">

                        <div class="logo-box">
                            <div class="logo"><a asp-action="index" asp-controller="home"><img src="~/uploads/settings/@(settings.FirstOrDefault(x=>x.Key=="HeaderLogo")?.Value)" alt="" title=""></a></div>
                        </div>

                        <!--Nav Box-->
                        <div class="nav-outer">
                            <nav class="nav main-menu">
                                <ul class="navigation" id="navbar">
                                    <li ><a asp-action="index" asp-controller="home">Home</a></li>

                                    <li class="dropdown">
                                        <span>Pages</span>
                                        <ul>
                                            <li><a asp-action="index" asp-controller="about">About Us</a></li>
                                            <li><a asp-action="index" asp-controller="service">Services</a></li>
                                            
                                            <li><a asp-action="index" asp-controller="plan">Pricing Table</a></li>
                                            
                                            
                                            
                                            <li><a asp-action="index" asp-controller="TermsandCondition">Terms and Condition</a></li>
                                        </ul>
                                    </li>
                                    
                                            <li><a asp-action="index" asp-controller="doctor">Doctors</a></li>
                                            <li><a asp-action="index" asp-controller="department">Departments</a></li>
                                            <li><a asp-action="index" asp-controller="shop">Shop</a></li>
                                            
                                     
                                   

                                    
                                            <li><a asp-action="index" asp-controller="blog">Blog</a></li>
                                            
                                            
                                                
                                            
                                    <li class="dropdown">
                                        
                                        @if(User.Identity.IsAuthenticated){
                                            <span>@User.Identity.Name</span>
                                            <ul>
                                                <li><a asp-action="UserLogout" asp-controller="account">Log out</a></li>

                                                

                                            </ul>
                                        }
                                        else{
                                            <span>Account</span>

                                            <ul>
                                                <li><a asp-action="UserLogin" asp-controller="account">Login</a></li>
                                                <li><a asp-action="SignUp" asp-controller="account">Sign Up</a></li>

                                            </ul>
                                        }
                                    </li>
                                    <li class="current"><a asp-action="index" asp-controller="contactus" >Contact</a></li>
                                </ul>
                            </nav>
                            <!-- Main Menu End-->

                        </div>
                    </div>
                </div>
            </div>

            <!-- Sticky Header  -->
            <div class="sticky-header">
                <div class="auto-container">
                    <div class="main-box">
                        <div class="logo-box">
                            <div class="logo"><a href="#"><img src="~/uploads/settings/@(settings.FirstOrDefault(x=>x.Key=="HeaderLogo")?.Value)" alt="" title=""></a></div>
                        </div>

                        <!--Keep This Empty / Menu will come through Javascript-->
                    </div>
                </div>
            </div><!-- End Sticky Menu -->
            <!-- Mobile Header -->
            <div class="mobile-header">
                <div class="logo"><a href="#"><img src="~/uploads/settings/@(settings.FirstOrDefault(x=>x.Key=="HeaderLogo")?.Value)" alt="" title=""></a></div>

                <!--Nav Box-->
                <div class="nav-outer clearfix">

                    <div class="outer-box">
                        <!-- Search Btn -->
                        <div class="search-box">
                            <button class="search-btn mobile-search-btn"><i class="flaticon-magnifying-glass"></i></button>
                        </div>

                        <!-- Cart Btn -->
                        <button class="cart-btn"><i class="icon flaticon-shopping-cart"></i><span class="count">3</span></button>

                        <a href="#nav-mobile" class="mobile-nav-toggler navbar-trigger"><span class="fa fa-bars"></span></a>
                    </div>
                </div>
            </div>

            <!-- Mobile Nav -->
            <div id="nav-mobile"></div>

    @RenderBody()
    

    <!-- Main Footer -->
    <footer class="main-footer">
        <!--Widgets Section-->
        <div class="widgets-section" style="background-image: url(images/background/7.jpg);">
            <div class="auto-container">
                <div class="row">
                    <!--Big Column-->
                    <div class="big-column col-xl-6 col-lg-12 col-md-12 col-sm-12">
                        <div class="row">
                            <!--Footer Column-->
                            <div class="footer-column col-xl-7 col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget about-widget">
                                    <div class="logo">
                                                <a asp-action="index" asp-controller="home"><img src="~/uploads/settings/@(settings.FirstOrDefault(x=>x.Key=="FooterLogo")?.Value)" alt="" title=""></a>
                                    </div>
                                    <div class="text">
                                        <p>Our Clinic has grown to provide a world class facility for the clinic advanced restorative. </p>
                                        <p>We are among the most qualified implant providers in the AUS with over 30 years of quality training and experience.</p>
                                    </div>
                                            <ul class="social-icon-one">
                                                <li><a href="https://@(settings.FirstOrDefault(x => x.Key == "Facebook")?.Value)"><span class="fab fa-facebook-f"></span></a></li>
                                                <li><a href="https://@(settings.FirstOrDefault(x => x.Key == "Twitter")?.Value)"><span class="fab fa-twitter"></span></a></li>
                                                <li><a href="https://@(settings.FirstOrDefault(x => x.Key == "Skype")?.Value)"><span class="fab fa-skype"></span></a></li>
                                                <li><a href="https://@(settings.FirstOrDefault(x => x.Key == "Linkedin")?.Value)"><span class="fab fa-linkedin-in"></span></a></li>
                                            </ul>
                                </div>
                            </div>

                            <!--Footer Column-->
                           
                        </div>
                    </div>

                    <!--Big Column-->
                    <div class="big-column col-xl-6 col-lg-12 col-md-12 col-sm-12">
                        <div class="row">
                            <!--Footer Column-->
                            

                            <!--Footer Column-->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <!--Footer Column-->
                                <div class="footer-widget contact-widget">
                                    <h2 class="widget-title">Contact Us</h2>
                                     <!--Footer Column-->
                                    <div class="widget-content">
                                        <ul class="contact-list">
                                            <li>
                                                <span class="icon flaticon-placeholder"></span>
                                                        <div class="text">@(settings.FirstOrDefault(x => x.Key == "HeaderLocation")?.Value) <Br>@(settings.FirstOrDefault(x => x.Key == "HeaderLocation2")?.Value)</div>
                                            </li>

                                            <li>
                                                <span class="icon flaticon-call-1"></span>
                                                
                                                        <a href="tel:+@(settings.FirstOrDefault(x => x.Key == "Phone")?.Value)"><strong>+@(settings.FirstOrDefault(x => x.Key == "Phone")?.Value)</strong></a>
                                            </li>

                                            <li>
                                                <span class="icon flaticon-email"></span>
                                                <div class="text">Do you have a Question?<br>
                                                            <a href="#"><strong>@(settings.FirstOrDefault(x => x.Key == "Email")?.Value)</strong></a>
                                                        </div>
                                            </li>

                                            <li>
                                                <span class="icon flaticon-back-in-time"></span>
                                                        <div class="text">
                                                            @(settings.FirstOrDefault(x => x.Key == "WorkTime")?.Value)<br>
                                                            <strong>@(settings.FirstOrDefault(x => x.Key == "Worktimeweekend")?.Value)</strong>
                                                        </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Footer Bottom-->
        <div class="footer-bottom">
            <!-- Scroll To Top -->
            <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>
            
            <div class="auto-container">
                <div class="inner-container clearfix">
                    <div class="footer-nav">
                        <ul class="clearfix">
                           <li><a href="#">Privacy Policy</a></li> 
                           <li><a asp-action="index" asp-controller="contactus">Contact</a></li> 
                           <li><a href="#">Supplier</a></li>  
                        </ul>
                    </div>
                    
                    <div class="copyright-text">
                                <p>@(settings.FirstOrDefault(x => x.Key == "CopyRight")?.Value) <a href="#"></a>@(settings.FirstOrDefault(x => x.Key == "FooterCopyriht2")?.Value)</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--End Main Footer -->

</div><!-- End Page Wrapper -->


<script src="~/assets/js/jquery.js"></script> 
<script src="~/assets/js/popper.min.js"></script>
<!--Revolution Slider-->
<script src="~/assets/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="~/assets/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="~/assets/plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="~/assets/plugins/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="~/assets/plugins/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="~/assets/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="~/assets/plugins/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="~/assets/plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="~/assets/plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="~/assets/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="~/assets/plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script src="~/assets/js/main-slider-script.js"></script>
<!--Revolution Slider-->
<script src="~/assets/js/bootstrap.min.js"></script>
<script src="~/assets/js/jquery.fancybox.js"></script>
<script src="~/assets/js/mmenu.polyfills.js"></script>
<script src="~/assets/js/jquery.modal.min.js"></script>
<script src="~/assets/js/mmenu.js"></script>
<script src="~/assets/js/appear.js"></script>
<script src="~/assets/js/owl.js"></script>
<script src="~/assets/js/wow.js"></script>
<script src="~/assets/js/script.js"></script>
</body>

<!-- Mirrored from smallcharge.ml/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 06 Feb 2023 13:39:53 GMT -->
</html>


