@using Medicoz.Helpers
@model PaginatedList<Gallery>
@{
    int counter = ((Model.ActivePage - 1) * 6);
}
@section Js{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.7.1/sweetalert2.min.css" integrity="sha512-NvuRGlPf6cHpxQqBGnPe7fPoACpyrjhlSNeXVUY7BZAj1nNhuNpRBq3osC4yr2vswUEuHq2HtCsY2vfLNCndYA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}
    <div class="col-sm-12 col-xl-12">
        <div class="bg-light rounded h-100 p-8">
            <a asp-action="create" asp-controller="gallery" class="btn btn-outline-primary m-2">Create</a>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Id</th>
                        <th scope="col">Tittle</th>
                        <th scope="col">Department</th>
                        


                        <th scope="col">Image</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (Gallery gallery in Model)
                {
                    counter++;
                    <tr>
                        <th scope="row">@counter</th>
                        <td>@gallery.Id</td>
                        <td>@gallery.Tittle</td>
                        
                        <td>@gallery.Department.Name</td>
                        


                        <td>
                            <div><img style="max-width:100px" src="~/uploads/galleries/@gallery.Imageurl" alt=""></div>
                        </td>
                        <td>
                            <a asp-action="delete" asp-controller="gallery" asp-route-id="@gallery.Id" class="btn btn-outline-danger m-2 delete-button">Delete</a>
                            <a asp-action="update" asp-controller="gallery" asp-route-id="@gallery.Id" class="btn btn-outline-warning m-2">Update</a>
                        </td>

                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
<div style="margin-left:500px">
    <form>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @if (Model.HasPrevious)
                {
                    <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="@(Model.ActivePage-1)">Previous</a></li>
                }
                @for (int i = 1; i <= Model.TotalPageCount; i++)
                {
                    <li class="page-item @((Model.ActivePage==i)? "active" : "")"><a class="page-link" asp-route-page="@i">@i</a></li>
                }

                @if (Model.HasNext)
                {
                    <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="@(Model.ActivePage+1)">Next</a></li>
                }
            </ul>
        </nav>
    </form>
</div>
@section Script{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.7.1/sweetalert2.min.js" integrity="sha512-vCI1Ba/Ob39YYPiWruLs4uHSA3QzxgHBcJNfFMRMJr832nT/2FBrwmMGQMwlD6Z/rAIIwZFX8vJJWDj7odXMaw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}