@using Medicoz.Helpers

@{
    ViewData["Title"] = "DeletedFeature";
}




@model PaginatedList<Feature>
@{
    int counter = ((Model.ActivePage - 1) * 2);
}
<div class="col-sm-12 col-xl-12">
    <div class="bg-light rounded h-100 p-8">
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Id</th>
                    <th scope="col">Tittle</th>
                    <th scope="col">Desc</th>
                    <th scope="col">Icon</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Feature feature in Model)
                {
                    counter++;
                    <tr>
                        <th scope="row">@counter</th>
                        <td>@feature.Id</td>
                        <td>@feature.Tittle</td>
                        <td>@feature.Desc</td>
                        <td>@feature.Icon</td>


                        <td>
                            <a asp-action="delete" asp-controller="feature" asp-route-id="@feature.Id" class="btn btn-outline-danger m-2 delete-button">Delete</a>
                            <a asp-action="repair" asp-controller="feature" asp-route-id="@feature.Id" class="btn btn-outline-warning m-2">Repair</a>
                        </td>

                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

<div style="margin-left:500px">
    <form>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @if (Model.HasPrevious)
                {
                    <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="@(Model.ActivePage-1)">Previous</a></li>
                }
                @for (int i = 1; i <= Model.TotalPageCount; i++)
                {
                    <li class="page-item @((Model.ActivePage==i)? "active" : "")"><a class="page-link" asp-route-page="@i">@i</a></li>
                }

                @if (Model.HasNext)
                {
                    <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="@(Model.ActivePage+1)">Next</a></li>
                }
            </ul>
        </nav>
    </form>
</div>
